$Breakpoint-xs: 0px;
$Breakpoint-sm: 576px;
$Breakpoint-md: 768px;
$Breakpoint-lg: 992px;
$Breakpoint-xl: 1200px;
$Breakpoint-xxl: 1400px;

$color-black: hsl(230, 35%, 7%);
$color-white: hsl(0, 0%, 100%);
$color-light-gray: hsl(231, 77%, 90%);
$color-dark-gray: hsl(231, 15%, 26%);
$color-gray: hsl(218, 10%, 79%);
$color-light-blue: hsl(231, 77%, 90%);

$Font-size: 16px;

$Family-Bellefair: 'Bellefair', serif;  // 400
$Family-Barlow-Condensed: 'Barlow Condensed', sans-serif; // 400, 600
$Family-Barlow: 'Barlow', sans-serif; // 400

$Weight-400: 400;
$Weight-600: 600;
